*{
	list-style: none;
	padding:0;
	margin:0;
}
#eventShopList{
    width: 100%;
}
#eventShopListImg{
    width: 20%;
}
#eventShopListTxt{
    padding: 30px;
    position: relative;
}
#eventShopListTxt>h4>b{
	font-weight: bold;
}
#eventShopListTxt.star{

}
#eventShopListTxt.review_num{

}
#eventShopListTxt.tableInfo{

}
#eventShopListTxt.reserve_num{

}
#eventShopListTxt.area{

}
#eventShopListTxt.sectors{

}
#eventShopListTxt.mainMenu{

}

#eventShopButton{
    width: 55px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 4px;
    position: absolute;
    right: 7px;
    top: 40%;
}